[sssd]
config_file_version = 2
services = nss, pam, ssh, sudo
domains = default

[domain/default]
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap

ldap_uri = ldap://localhost:389
ldap_tls_reqcert = never
ldap_id_use_start_tls = True

enumerate = True
cache_credentials = True

ldap_default_bind_dn = {{ ldap_bind_dn }}
ldap_default_authtok_type = password
ldap_default_authtok = {{ ldap_admin_password }}

ldap_schema = rfc2307bis
ldap_search_base = {{ ldap_base_dn }}

[nss]
homedir_substring = /home

[pam]

[sudo]

[ssh]
